@import "~antd/dist/antd.css";

.ant-btn .anticon {
  transform: translateY(-3px);
}

.ant-message .anticon {
  transform: translateY(-3px);
}

.ant-avatar .anticon {
  transform: translateY(-3px);
}

.ant-spin .anticon {
  transform: translateY(-3px);
}

.ant-pagination-item-link .anticon {
  transform: translateY(-3px);
}

.ant-menu-item .anticon {
  transform: translateY(-3px);
}

.ant-table-cell .anticon {
  transform: translateY(-3px);
}
