@import "~antd/dist/antd.css";

.ant-btn .anticon {
  transform: translateY(-3px);
}

.ant-message .anticon {
  transform: translateY(-4px);
}

.ant-spin .anticon {
  transform: translateY(-3px);
}

.ant-pagination-item-link .anticon {
  transform: translateY(-3px);
}

.ant-menu-item .anticon {
  transform: translateY(-3px);
}

.ant-table-cell .anticon {
  transform: translateY(-3px);
}

.ant-menu-submenu-title .anticon {
  transform: translateY(-3px);
}

.ant-steps-item-icon .anticon {
  transform: translateY(-3px);
}

.ant-input-group-addon .anticon {
  transform: translateY(-3px);
}

.ant-modal-close .anticon {
  transform: translateY(-3px);
}

.ant-upload {
  margin: 0 !important;
  width: 100% !important;
}

.ant-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
}